@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import "tailwindcss";

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme{
    --error: #FF8C8C;
    --warning: #FFFB82;
    --info: #D9D9D9;
    --success: #AEEA72;

    --dark: #1c1c1d;
    --mid-dark: #262626;
    --light-dark: #484747;

    --dark-rose: #8B0836;
    --light-rose: #FFA1AD;

    --color-rose-gradient: linear-gradient(0deg, rgba(139, 8, 54, 1) 0%, rgba(255, 32, 86, 1) 50%, rgba(255, 161, 173, 1) 100%);

    --transtition-width: width;

    --animate-progtext: progtext 3s ease-in-out infinite;
    --animate-opacity: fadeIn 0.5s ease forwards;

    @keyframes progtext {
        0%, 100% {
            --tw-gradient-from: #8B0836;
            --tw-gradient-to: #FF2056;
        }
        50% {
            --tw-gradient-from: #FF2056;
            --tw-gradient-to: #8B0836;
        }
    }

    @keyframes fadeIn {
        from { opacity: 0; transform: translateY(0.5rem); }
        to { opacity: 1; transform: translateY(0); }
    }
}


@layer base {

    html{
        @apply scroll-smooth max-w-screen;
    }

    :root{
        @apply bg-neutral-100 dark:bg-[#1c1c1d] min-h-screen min-w-screen block box-border font-[Sansation] text-black dark:text-white;
    }
}

.textinput-standard{
    @apply w-full rounded-lg bg-neutral-800 px-4 py-3 text-white placeholder-neutral-500 outline-none ring-1 ring-transparent transition-all focus:bg-neutral-800 focus:ring-2 focus:ring-rose-500;
}

.textinput-slim{
    @apply w-full rounded-lg bg-neutral-800 px-2 py-1.5 text-white placeholder-neutral-500 outline-none ring-1 ring-transparent transition-all focus:bg-neutral-800 focus:ring-2 focus:ring-rose-500;
}

.authcode{
    @apply w-1/6 aspect-square rounded-lg bg-neutral-800 py-4 text-white placeholder-neutral-500 outline-none ring-1 ring-transparent transition-all focus:bg-neutral-800 focus:ring-2 focus:ring-rose-500 text-center text-xl;
}

.label-standard{
    @apply text-xs font-medium text-neutral-300;
}

.transition-width{
    transition-property: width;
}

.transition-height{
    transition-property: height;
}